@model Biblioteca.Casa

<h2>Casa: @Model.IdCasa</h2>
<p>Dirección: @Model.Direccion</p>

<h4>Electrodomésticos:</h4>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>Encendido</th>
            <th>Apagado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Electros)
        {
            <tr>
                <td>@e.IdElectrodomestico</td>
                <td>@e.Nombre</td> 
                <td>@e.Tipo</td>
                <td>@e.Ubicacion</td>
                <td>@e.Apagado</td>
                <td>
                    <a asp-controller="Electrodomestico" asp-action="Detalle" asp-route-id="@e.IdElectrodomestico" class="btn btn-info btn-sm">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
