@model Biblioteca.Electrodomestico

<h2>Detalle de Electrodoméstico</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.Tipo</dd>

        <dt class="col-sm-2">Ubicación</dt>
        <dd class="col-sm-10">@Model.Ubicacion</dd>

        <dt class="col-sm-2">IdCasa</dt>
        <dd class="col-sm-10">@Model.IdCasa</dd>

        <dt class="col-sm-2">Encendido</dt>
        <dd class="col-sm-10">@Model.Encendido</dd>

        <dt class="col-sm-2">Apagado</dt>
        <dd class="col-sm-10">@Model.Apagado</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Volver <i class="bi bi-arrow-counterclockwise"></i></a>
</div>