@model Biblioteca.Electrodomestico

<h2>Detalle de Electrodoméstico</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.Tipo</dd>

        <dt class="col-sm-2">Ubicación</dt>
        <dd class="col-sm-10">@Model.Ubicacion</dd>

        <dt class="col-sm-2">IdCasa</dt>
        <dd class="col-sm-10">@Model.IdCasa</dd>

        <dt class="col-sm-2">Estado:</dt>
        <dd class="col-sm-10">
        @if (Model.Apagado)
        {
            <span>El electrodoméstico se encuenta apagado</span>
        }
        else
        {
            <span>El electrodoméstico se encuenta encendido</span>
        }
        </dd>
    </dl>
    @if (Model.ConsumoMensual != null && Model.ConsumoMensual.Any())
    {
        var ultimo = Model.ConsumoMensual.First(); 
        <p><strong>Detalle de consumo:</strong> @ultimo.FechaHoraRegistro </p>
    }
    else
    {
        <p><em>Sin registros de consumo</em></p>
    }
    <a asp-action="Index" class="btn btn-secondary">Volver <i class="bi bi-arrow-counterclockwise"></i></a>
</div>

