@model List<Biblioteca.Electrodomestico>

<h2>Listado de Electrodomésticos</h2>

<a asp-action="Alta" class="btn btn-navy-violet">Agregar Electrodoméstico</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>@item.Ubicacion</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@item.IdElectrodomestico"  class="btn btn-icon btn-icon-accent"> Detalle 
                    <i class="bi bi-card-text"></i>
                    </a>
                    <a asp-controller="Consumo" asp-action="Alta" asp-route-idElectrodomestico="@item.IdElectrodomestico" class="btn btn-icon btn-icon-accent"> Agregar Consumo 
                    <i class="bi bi-lightbulb"></i>
                    </a>
                    <form asp-action="Eliminar" asp-route-id="@item.IdElectrodomestico" method="post" class="d-inline ms-1">
                        <button type="submit" class="btn btn-icon btn-icon-danger" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>