@model List<Biblioteca.Electrodomestico>

<h2>Listado de Electrodomésticos</h2>

<a asp-action="Alta" class="btn btn-primary">Agregar Electrodoméstico</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>@item.Ubicacion</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@item.IdElectrodomestico" class="btn btn-info">Detalle</a>
                    <form asp-controller="Electrodomestico" asp-action="Eliminar" asp-route-id="@item.IdElectrodomestico" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                            <span class="bi bi-trash"></span> Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>